.admin-container {
    padding: 20px;
}

.admin-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
}

.form-box {
    background: white;
    padding: 28px;
    border-radius: 14px;
    box-shadow: 0px 3px 18px #00000015;
    margin-bottom: 35px;
}

.form-box input {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 15px;
}

.form-box button {
    font-size: 15px;
}
