.login-container {
    max-width: 400px;
    margin: 120px auto;
    background: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0px 4px 20px #00000015;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: 700;
}

.login-container input {
    width: 100%;
    padding: 14px;
    margin-bottom: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.login-container button {
    width: 100%;
    font-size: 16px;
}

.error-msg {
    text-align: center;
    margin-bottom: 10px;
    color: #d32f2f;
    font-weight: 600;
}
